

// ===== Colors =====
$color-primary: #d60000; // Rojo principal de Yamaha
$color-secondary: #5e6dbe; // Azul del botón de contacto
$color-text-light: #ffffff;
$color-text-dark: #252525;
$color-text-muted: #333;
$color-background-light: #f0f0f0;
$color-background-medium: rgb(230, 230, 230);
$color-black-transparent-heavy: rgba(0,0,0,0.9);
$color-black-transparent-medium: rgba(0,0,0,0.6);
$color-black-transparent-light: rgba(0,0,0,0.2);

// ===== Fonts =====
$font-primary: "Dosis", sans-serif;
$font-secondary: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;