* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    
}
body {
    margin: 0;
    font-family: "Dosis", sans-serif;
    background-color: #f0f0f0;
}
      

/*-------------header------------ */

.header-index {
    position: relative;
    width: 100%;
    height:90vh;
    display: flex;
    background-image: url(../img/r1m-2025.jpg);
    background-size: cover;
    background-position: center;
}
.header-modelos {
    position: relative;
    width: 100%;
    height:90vh;
    display: flex;
    background-image: url(../img/header-background.webp);
    background-size: cover;
    background-position: center;
}
.header-sucursales {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    background-image: url(../img/consecionario-oficial.jpg);
    background-size: cover;
    background-position: top;
}
.header-novedades {
    position: relative;
    width: 100%;
    height:90vh;
    display: flex;
    background-image: url(../img/novedades-header.jpg);
    background-size:cover;
    background-position: top;
}
.navbar-brand {
    width: 25vh;
    height: 10vh;
}
.header-modelos:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: background-color 0.4s ease; 
    z-index: 1; 
}
.header-modelos:hover::before {
    background-color: rgba(0, 0, 0, 0.2);
}

.header-index::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: background-color 0.4s ease; 
    z-index: 1; 
}

.header-content {
    width: 100%;
    position: relative;
    z-index: 2; 
    color: white;
    text-align: center; 
    display: flex;
    flex-direction: column;
}

.header-index:hover::before {
    background-color: rgba(0, 0, 0, 0.2);
}

/* -----------index------------ */

/* modelos destacados */

.modelos-destacados {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 230, 230);
    padding: 1rem 0;
}
.modelos-destacados-titulo h2 {
    font-size: 2rem;
    color: #000000;
    padding: 1rem 0;
    text-align: center;
}
.modelos-destacados-titulo p {
    color: #333;
    text-align: center;
}
.modelos-destacados-content {
    display: flex;
    padding: 20px;
    width: 100%;
    gap: 1rem; 
    flex-direction: column;
}
.modelos-destacados-content img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem; 
    align-items: center;
}
.mt03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60vh;
}
.mt03 p {
    font-size: 0.9rem;
    color: #333; 
}
.mt03:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease;
} 
.modelos-btn {
    background-color: #343870;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer; 
}

.modelos-btn:hover {
    background-color: #505da3;
    transition: background-color 0.3s ease; 
}   
.modelos-btn a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;  
}
.modelos-btn-conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.modelos-btn-conteiner p {
    font-size: 0.9rem;
    color: #333; 
    text-align: center;
    padding-right: 0.5rem;
}
/* ---------------sucursales------------- */

.sucursales-titulo h2 {
    font-weight: bold;
    font-size: 1.5rem;
}
.sucursales-content {
        flex-direction: column;
    }
.sucursales-titulo {
    padding-top: 1rem;
 }
.sucursales-mapa {
    padding: 2rem 0.5rem;
    max-width: 100%;
    display: flex;
    justify-content: center
}
.sucursales-mapa iframe {
    max-width: 100%;
}


/* -------------modelos------------ */

.street {
    display: flex;
    width: 100%;
    background-image: url(../img/sobre-nosotros-mision.jpg);
    background-size: cover;
    background-position: center;
}
.contenedor-modelos {
    position: relative;
}
.contenedor-modelos::before {
    content: ''; 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}
.modelos-content-titulo {
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 2rem 2rem 0 1rem;
    position: relative;
    z-index: 2;
}
.card-modelos {
    z-index: 2;
}
.modelos-content-titulo h2 {
    font-size: 2rem;
    margin-left: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.modelo-item {
    display: flex;
    flex-direction: column;
}  
.modelo-item img {
    width: 100%;
    height: auto;
    border-radius: 0.4rem;
}

.sport {
    display: flex;
    width: 100%;
    background-image: url(../img/sobre-nosotros-equipo.jpg);
    background-size: cover;
    background-position: center;
}
.card-moto-btn {
    background-color: #343870;
    color: #ffffff;
    border: none;
    border-radius: 0.2rem; 
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
}
.cross {
    display: flex;
    width: 100%;
    background-image: url(../img/sobre-nosotros-historia.jpg);
    background-size: cover;
    background-position: center;
}

/* ---------------contacto------------- */

.contacto-titulo {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: transparent;
    z-index: 2;
    color: #ffffff;
    margin-left: 1rem;
    padding: 2rem 0;
    width: 100%;

}

.contacto-content {
    position: relative;
    display: flex;
    background-image: url(../img/oficinas-yamaha.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    justify-content: end;
    flex-direction: column;
}
.contacto-form {
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    color: #ffffff;
    width: 100%; 
}
.contacto-form input,
.contacto-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.contacto-content::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.068); 
    transition: background-color 0.4s ease;
    z-index: 1;
}

.contacto-form {
    position: relative;
    z-index: 2; 
}
.contacto-content:hover::before {
    background-color: rgba(0, 0, 0, 0.6); 
}
.contacto-form button {
    background-color: #5e6dbe; 
    color: white; 
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* sobre nosotros */

.sobre-nosotros {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.sobre-nosotros-mision {
    border: #ffffff solid 3px; 
    width: 100%;
    height: 100%;
    background-image: url(../img/sobre-nosotros-mision.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden; 
    position: relative;
}
.mision-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white; 
    padding: 2rem;
    position: relative;
}
.mision-contenedor h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    z-index: 2;
}
.mision-contenedor p {
    text-align: center;
    z-index: 2; 
}
.mision-contenedor:hover {
    transition: transform 0.3s ease; 
    transform: scale(1.05); 
}
.mision-contenedor::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.068); 
    transition: background-color 0.4s ease; 
    z-index: 1;
}
.mision-contenedor:hover::before {
    background-color: rgba(0, 0, 0, 0.6); 
}

.sobre-nosotros-equipo {
    border: #ffffff solid 3px; 
    width: 100%;
    height: 100%;
    background-image: url(../img/sobre-nosotros-equipo.jpg);
    background-size: cover;
    background-position: left;
    overflow: hidden; 
    position: relative;
}
.sobre-nosotros-equipo .equipo-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    padding: 2rem;
    position: relative;
}
.equipo-contenedor h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    z-index: 2;
}
.equipo-contenedor p {
    text-align: center;
    z-index: 2; 
}  
.equipo-contenedor:hover {
    transition: transform 0.3s ease; 
    transform: scale(1.05); 
}

.equipo-contenedor::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.068);
}
.equipo-contenedor:hover::before {
    background-color: rgba(0, 0, 0, 0.6); 
    transition: background-color 0.4s ease; 
}

.sobre-nosotros-historia {
    border: #ffffff solid 3px; 
    width: 100%;
    height: 100%;
    background-image: url(../img/sobre-nosotros-historia.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden; 
    position: relative;
}
.sobre-nosotros-historia .historia-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    padding: 2rem;
    position: relative;
}
.historia-contenedor h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    z-index: 2;
}
.historia-contenedor p {
    text-align: center;
    z-index: 2; 
}
.historia-contenedor:hover {
    transition: transform 0.3s ease; 
    transform: scale(1.05);
}
.historia-contenedor::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.068);
}
.historia-contenedor:hover::before {
    background-color: rgba(0, 0, 0, 0.6); 
    transition: background-color 0.4s ease; 
}

/* --------------novedades---------- */
.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 2 / 1 / 3 / 4; }
.div3 { grid-area: 3 / 1 / 4 / 4; }
.div4 { grid-area: 4 / 1 / 5 / 4; }
.div5 { grid-area: 5 / 1 / 6 / 4; }
.div6 { grid-area: 6 / 1 / 7 / 4; }

.parent-novedades h2 {
    color: rgb(202, 5, 5);
    }
.novedades-titulo h1 {
    align-self: center;
    padding: 1rem 0;
    font-size: 3rem;
}
/*-----------------footer----------------- */


.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}



.div1 { grid-area: 1 / 1 / 2 / 3; 
    color: #f0f0f0;
    padding: 1rem;
    }
.div1 h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
.div1 a {
        text-decoration: none;
        color: #f0f0f0;
        width: 50%;
        white-space: nowrap; 
        overflow: hidden;    
        text-overflow: ellipsis; 
        border: 1px solid black;
}
.div2 { grid-area: 2 / 1 / 3 / 3;
    align-items: center;
    gap: 0;
    justify-content: center;
    border: #000000 solid 2rem; }
.div2 img {
        max-width: 4rem;
        min-width: 10%;
    }

.div3 { grid-area: 3 / 1 / 4 / 3;
    color: #252525;
    height: 10vh;}

@media only screen and (min-width:600px) {
    /* novedades */
    .novedades-content {
        flex-direction: row;
        justify-content: center;
    }

    .novedades-img-container {
        max-width: 95%;
        display: flex;
        border: rgb(173 173 173 / 70%) solid 3px;
        border-radius: 1.2rem;
    }
    .novedades-img-container p {
        width: 100%;
    }
    .novedades-img {
        max-width: 40vh;
    }
    .novedades-btn-conteiner {
        max-width: 50vh;
    }
    /* modelos destacados */
    .modelos-destacados-content {
        flex-direction: row;
        padding: 0 4% 1% 20%;
        gap:25%;
    }
    .modelos-btn-conteiner {
        justify-content: flex-end;
    }
    .modelos-btn {
        max-width: 30vh;
        height: 3rem;
        margin-right: 5%;
    }
    .modelos-btn-conteiner p {
        text-align: end;
        margin-bottom: 5%;
    }
    /* sobre nosotros */
    .sobre-nosotros {
        flex-direction: row;
        height: 70vh;
    }
    /* contacto */
    .contacto-form {
        max-width: 70vh;
        margin: 5%;
    }
    .contacto-formulario-contenedor {
        justify-content: end;
        display: flex;
        align-items: end;
    }
    footer {
        width: 100%;
        height: 40vh;
        display: flex;
        background-color: #ffffff;
        color: #f0f0f0;
    }
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 { grid-area: 1 / 1 / 2 / 2;
        color: #f0f0f0; }
    .div1 h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: bold;
        margin-left: 10%;
    }
    .div1 p {
        margin-left: 0;
        font-size: 1rem;
        min-width: 10rem;
        max-width: 30%
    }
    .div1 a {
        text-decoration: none;
        color: #f0f0f0;
    }
    .div2 { grid-area: 1 / 2 / 2 / 3;
        align-items: center;
        gap: 0;
        justify-content: center;
        border: #000000 solid 2rem;}
    .div2 img {
        max-width: 4rem;
        min-width: 10%;
    }
    .div3 { grid-area: 2 / 1 / 3 / 3;
        color: #252525;
        margin-left: 20%;
        height: 5vh;
    }
    .div4 { grid-area: 3 / 1 / 4 / 3; background-color: #000000;}

    /* --modelos-- */

    .street p, .sport p, .cross p {
        max-width: 40%;
    }
    .modelo-item img {
        max-width: 40vh;
        height: auto;
        border-radius: 0.4rem;
    }
    .modelos-content-titulo {
        padding-bottom: 20vh;
    }
    .modelos-content-titulo h2 {
        font-size: 15vh;
        margin-left: 10vh;
    }
    .modelos-content-titulo p {
        font-size: 3vh;
        margin-left: 5vh;
    }   
    .card-modelos {
        padding-bottom: 5vh;
        padding-left: 3vh;
    }
    /* -moz-box-align: ;sucursales-- */
    .sucursales-content {
        flex-direction: row;
        gap: 2rem;
    }
    .sucursales-titulo {
        padding-bottom: 2rem;
        padding-top: 1rem;
        justify-self: center;
    }
    .sucursales-mapa iframe {
        max-width: 100%;
        min-width: 50%;
        min-height: 100%;
    }
    .sucursales-mapa {
        max-height: 70vh;
        min-height: 40vh;
        max-width: 60vw;
        padding: 0 3rem 2rem 4rem;
    }
    .contenedor-list-group {
        padding: 0 3rem 2rem 2rem;
    }
    /* ---novedades--- */
    .parent-novedades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #ffffff;
    }

    .div1-novedades { grid-area: 1 / 1 / 3 / 2;}
    .div2-novedades { grid-area: 3 / 1 / 4 / 2; }
    .div3-novedades { grid-area: 1 / 2 / 2 / 3; }
    .div4-novedades { grid-area: 2 / 2 / 4 / 3; }
    .div5-novedades { grid-area: 1 / 3 / 3 / 4; }
    .div6-novedades { grid-area: 3 / 3 / 4 / 4; }

    .parent-novedades img {
        max-width:100%;
        max-height: 100%;
        padding: 2rem 3rem;
    }
    .parent-novedades h2 {
        color: rgb(202, 5, 5);
        padding-top: 1rem;
    }
    .parent-novedades div {
        min-width: 30vw;
        max-width: 40vw;
        align-items: center;
        padding: 0 1rem;
    }
    .novedades-titulo h1 {
        align-self: center;
        padding: 1rem 0;
        font-size: 4rem;
    }
    
}